@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


/*-Barra de navegação*/
.hero {
  height: 15vh;
  width: 100%;
  background: #041122;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 8%;
}

.logo-space {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0px;
}

/*ScrololBar*/
::-webkit-scrollbar {
  width: 0;
}

#progressbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  border-radius: 10px;
  background: linear-gradient(to top, #7FDA89,
      #3cb64a,
      #14721f,
      #04570e);
}

/*-Titulo h2 "Wagou"*/
.logo {
  display: inline-block;
  color: white;
  font-size: 28px;
  margin-left: 10px;
}

/*-h2>span " Studio"*/
#logo2 {
  display: inline-block;
  color: #7FDA89;
  font-size: 28px;
  margin-left: 5px;
  transition: .4s;
}

/*--Animação do h2>span " Studio"*/
.logo-name:hover #logo2 {
  color: transparent;
  cursor: pointer;
  z-index: 1;
  background-image: linear-gradient(90deg,
      #f9d923,
      #00a19d,
      #0c87b7,
      #cb49ff,
      #ff6666,
      #f9d923);
  background-clip: text;
  -webkit-background-clip: text;
  background-size: 400%;
  box-shadow: 0 0 15px rgb(2, 4, 24);
  animation: glow 12s linear forwards;
}

@keyframes glow {

  from {
    background-position: 0%;
  }

  to {
    background-position: 400%;
  }

}


/*-Imagem da Logo*/
nav img {
  width: 75px;
}


/*-Itens da Nav*/
nav a {
  text-decoration: none;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

/*--Animação da Nav*/
nav ul li a::after {
  content: " ";
  width: 0%;
  height: 4px;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.4s ease-in-out;
}

nav ul li a:hover {
  color: #7FDA89;
  transition: .3s;
}

nav ul li a:hover::after {
  width: 100%;
}

/* corpo dos contatos */
.container-contact{
  background: black;
}

.container-contact-infos{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.contact-infos{
  margin-top: 10%;
}

.forms-contact{
  background: #041122;
  border-radius: 8px;
  margin-top: 10%;
  padding: 20px;
  width: 70%;
  display: grid;
  grid-template-areas: 
  "a b b"
  "c c c"
  "d d d"
  "e e e";
}

::placeholder{
  text-align: center;
}

label{
  color: white;
  margin-top: 30px;
}

input{
  width: 100%;
  outline: none;
  border-radius: 8px;
  padding: 10px;
}

span{
  color: red;
  display: none;
}

textarea{
  outline: none;
  margin-top: 30px;
  border-radius: 8px;
  width: 100%;
}

.input-name{
  grid-area: a;
}

.input-last-name{
  grid-area: b;
  margin-left: 40px;
}

.input-email{
  grid-area: c;
  display: grid;
}

.area-text{
  grid-area: d;
  margin-top: 10px;
}

.button{
  grid-area: e;
  justify-self: center;
  margin-top: 20px;
}

button{
  border: none;
  background: #7FDA89;
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition:.4s;
}

button:hover{
  transform: scale(1.2);
  cursor: pointer;
  z-index: 1;
  background: linear-gradient(
    90deg,
    #f9d923,
    #00a19d,
    #0c87b7,
    #cb49ff,
    #ff6666,
    #f9d923
  );
  background-size: 400%;
  box-shadow: 0 0 15px rgb(2, 4, 24);
  animation: glow 12s linear forwards;
}

@keyframes glow {

from{
  background-position: 0%;
}

to {
  background-position: 400%;
}

}

button::before {
content: '';
position: absolute;
top: -1px;
right: -1px;
bottom: -1px;
left: -1px;
background: inherit;
filter: blur(36px);
z-index: -1;
opacity: 0;
transition: .4s ease-out;
}

button:hover::before {
opacity: 1;
z-index: -1;
}

.contact-infos{
  color: white;
  flex: 30%;
  margin-left: 10%;
}

.contact-forms{
  height: 100vh;
  flex: 40%;
}