* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overflow-x: hidden;
}

/*-Barra de navegação*/
.hero {
  height: 15vh;
  width: 100%;
  background: #041122;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 8%;
}

.logo-space{
display: flex;
align-items: center;
justify-content: space-between;
padding-right: 0px;
}

/*ScrololBar*/
::-webkit-scrollbar{
width: 0;
}

#progressbar{
position: fixed;
top: 0;
right: 0;
width: 15px;
border-radius: 10px;
background: linear-gradient(to top,#7FDA89,
#3cb64a,
#14721f,
#04570e);
}

/*-Titulo h2 "Wagou"*/
.logo{
display: inline-block;
  color: white;
  font-size: 28px;
  margin-left: 10px;
}

/*-h2>span " Studio"*/
#logo2{
display: inline-block;
color: #7FDA89;
font-size: 28px;
margin-left: 5px;
transition:.4s;
}

/*--Animação do h2>span " Studio"*/
.logo-name:hover #logo2{
color: transparent;
cursor: pointer;
z-index: 1;
background-image: linear-gradient(
  90deg,
  #f9d923,
  #00a19d,
  #0c87b7,
  #cb49ff,
  #ff6666,
  #f9d923
);
background-clip: text;
-webkit-background-clip: text;
background-size: 400%;
box-shadow: 0 0 15px rgb(2, 4, 24);
animation: glow 12s linear forwards;
}

@keyframes glow {

from{
background-position: 0%;
}

to {
background-position: 400%;
}

}


/*-Imagem da Logo*/
nav img{
width: 75px;
}


/*-Itens da Nav*/
nav a{
text-decoration: none;
}

nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  position: relative;
}

/*--Animação da Nav*/
nav ul li a::after {
content: " ";
width: 0%;
height: 4px;
background-color: white;
position: absolute;
bottom: 0;
left: 0;
transition: 0.4s ease-in-out;
}

nav ul li a:hover {
color: #7FDA89;
transition: .3s;
}

nav ul li a:hover::after {
width: 100%;
}


/*-Botão "Cursos Livres"*/
button{
  border: none;
  background: #7FDA89;
  padding: 12px 30px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition:.4s;
}

/*--Animação do Botão "Cursos Livres"*/
button:hover{
  transform: scale(1.2);
  cursor: pointer;
  z-index: 1;
  background: linear-gradient(
    90deg,
    #f9d923,
    #00a19d,
    #0c87b7,
    #cb49ff,
    #ff6666,
    #f9d923
  );
  background-size: 400%;
  box-shadow: 0 0 15px rgb(2, 4, 24);
  animation: glow 12s linear forwards;
}

@keyframes glow {

from{
  background-position: 0%;
}

to {
  background-position: 400%;
}

}

button::before {
content: '';
position: absolute;
top: -1px;
right: -1px;
bottom: -1px;
left: -1px;
background: inherit;
filter: blur(36px);
z-index: -1;
opacity: 0;
transition: .4s ease-out;
}

button:hover::before {
opacity: 1;
z-index: -1;
}

/* corpo */
.container-content {
  background: linear-gradient(0deg, #e2e4e5 10%, #041021 30%);
}

.logo-content {
  padding-top: 50px;
  width: 100vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.phrase-logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

.fist-p,
.second-p {
  display: block;
}

.fist-p {
  color: white;
  font-size: 50px;
}

.second-p {
  color: #7fda89;
  font-size: 50px;
  margin-left: 10px;
}

/* significado da wagou */
.wagou-signification {
  font-weight: bold;
  text-align: center;
  border: 2px solid #7fda89;
  background-color: #7fda89;
  margin: 0 auto;
  line-height: 1.6em;
  width: auto;
  height: auto;
  color: #041021;
  padding: 40px;
  position: relative;
  margin-top: 50px;
}

.wagou-signification:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #7fda89;
  top: -20px;
  left: 20%;
}

.wagou-signification-content-1 {
  text-align: center;
}

.wagou-signification-content-2 {
  text-align: center;
}

/* Métodologia da wagou*/
.methodology-content {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.methodology-content img {
  width: 450px;
  animation: float 2s ease-in-out infinite;
}

@keyframes float{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-30px)
	}
}

.methodology-content p {
  color: #ffffe3;
  text-align: justify;
  font-weight: 600;
}

/* time wagou */
.team-resume {
  display: inline-block;
  border: 1px solid #7fda89;
  background-color: #7fda89;
  padding: 30px;
  margin-top: -40px;
}

.team-resume p {
  color: #041021;
  text-align: justify;
  margin-left: 150px;
  font-weight: 600;
}

.collaborators-img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  margin: 0 15px;
  z-index: 3;
  margin-top: 100px;
  position: relative;
}

.collaborators-and-bio{
  padding: 20px;
  display: flex;
  justify-content: space-around;
  z-index: 1;
  position: relative;
  bottom: 90px;
}


.img-cleberte,
.img-william,
.img-wilson {
  width: 145px;
  height: 145px;
  margin: 0;
}

.img-cleberte img,
.img-william img,
.img-wilson img {
  width: 10%;
  border-radius: 50%;
  border: 6px solid #3C4048;
  width: 145px;
  height: 145px;
  display: flex;
  z-index: 3;
}

.bio-cleberte,
.bio-william,
.bio-wilson {
  background: #259073;
  border-radius: 10px;
  padding-top: 30px;;
  width: 400px;
  height: 500px;
}

.bio-cleberte p,
.bio-william p,
.bio-wilson p {
  text-align: justify;
  padding: 60px;
  color: white;
}

.bio-cleberte-2,
.bio-william-2,
.bio-wilson-2 {
  margin-top: -40px;
}

.container{
  background: #041122;
}

.informations-content p{
  text-align: center;
  color: white;
  font-weight: 600;
}