<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background</title>
    <link rel="stylesheet" href="character-design.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');
    </style>
</head>

<body>
    <!--Barra de navegação-->
    <div class="hero">
        <nav>
            <div class="logo-space">
                <a href="index.html"><img src="../../img/LOGO-invert.png" alt="logo da página"></a>
                <a class="logo-name" href="index.html">
                    <h2 class="logo">Wagou</h2>
                    <h2 id="logo2"> Studio</h2>
                </a>
            </div>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="reel.html">REEL</a></li>
                <li><a href="trabalhos.html">TRABALHOS</a></li>
                <li><a href="wagouoriginal.html">WAGOU ORIGINALS</a></li>
                <li><a href="sobre.html">SOBRE</a></li>
                <li><a href="contato.html">CONTATO</a></li>
                <li><a href="orcamento.html">ORÇAMENTO</a></li>
            </ul>

            <!--<button class="button" type="button">CURSOS LIVRES</button>-->
        </nav>
    </div>


    <main class="container-originals">
        <h2 class="text-3d"><a href="../../wagou-original.html" target="_self"><span class="material-symbols-outlined">
            arrow_back_ios
        </span></a>Wagou Originals</h2>

        <div class="fist-container">
            <div class="left-content">
                <h3>GIF Illustrations</h3>
                <p>Illustrations/Motion Graphics</p>
                <p id="text-2">Works focused on illustration and transforming into GIFS.</p>
            </div>
            <div class="right-content">
                <h3>Softwares used:</h3>
                <img src="./character-design-img/photoshop.png" alt="logo do photoshop">
                <img src="./character-design-img/depois-dos-efeitos.png" alt="logo do after-effects">
            </div>
        </div>

        
        <div class="second-container">
            <div class="left-content-2">
                <img src="https://static.wixstatic.com/media/01d23c_0bffd3254a274fa89acf5bb77fbfd3e7~mv2.png/v1/fill/w_526,h_745,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/Sandro's%20Emoji%20by%20Wilson%20F%20(Uilsu).png" alt="">
            </div>

            <div class="right-content-2">
                <h3>Lofi Boy Animation</h3>
                <p>Background Concept & Painting</p>
            </div>
        </div>
        
        <div class="tirth-container">
            <div class="left-content-3">
                <h3>Lofi Boy Animation</h3>
                <p>Background Concept & Painting</p>
            </div>

            <div class="right-content-3">
                <img src="https://static.wixstatic.com/media/01d23c_d090344af578424cb63cf1296f0b6ad7~mv2.png/v1/fill/w_600,h_338,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Jason%20uilsu.png" alt="">
            </div>
        </div>

        <div class="fourth-container">
            <div class="left-content-4">
                <img src="https://static.wixstatic.com/media/01d23c_af610c87825749038cf448df2ba88cb1~mv2.png/v1/fill/w_600,h_338,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/chris%20uilsu.png" alt="">
            </div>
            <div class="right-content-4">
                <h3>Chris</h3>
                <p>Character Design</p>
            </div>
        </div>

        <div class="fifth-container">
            <div class="left-content-5">
                <h3>Todoroki</h3>
                <p>Character Design</p>
            </div>
            <div class="right-content-5">
                <img src="https://static.wixstatic.com/media/01d23c_f603d343b50243f7843c2c7e65329bc1~mv2.png/v1/fill/w_600,h_338,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/todoroki%20uilsu.png" alt="">
            </div>
        </div>

        <div class="sixth-container">
            <div class="left-content-6">
                <img src="https://static.wixstatic.com/media/01d23c_f6b4ef9421414e45b848b231b31fd828~mv2.png/v1/fill/w_455,h_455,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Shoto%204.png" alt="">
            </div>
            <div class="right-content-6">
                <img src="https://static.wixstatic.com/media/01d23c_37c17481190c491caa478db7c6c419ee~mv2.png/v1/fill/w_455,h_455,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/3.png" alt="">
            </div>
        </div>

    </main>

    <footer class="container">
        <div class="informations-content">
            <p class="name-company">Wagou Studios</p>
            <p class="email-company">equipewagou@gmail.com</p>
            <p class="copyright-company">©2022 por Wagou Studio.</p>
        </div>
    </footer>
</body>

</html>