<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background</title>
    <link rel="stylesheet" href="illustrations.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');
    </style>
</head>

<body>
    <!--Barra de navegação-->
    <div class="hero">
        <nav>
            <div class="logo-space">
                <a href="index.html"><img src="../../img/LOGO-invert.png" alt="logo da página"></a>
                <a class="logo-name" href="index.html">
                    <h2 class="logo">Wagou</h2>
                    <h2 id="logo2"> Studio</h2>
                </a>
            </div>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="reel.html">REEL</a></li>
                <li><a href="trabalhos.html">TRABALHOS</a></li>
                <li><a href="wagouoriginal.html">WAGOU ORIGINALS</a></li>
                <li><a href="sobre.html">SOBRE</a></li>
                <li><a href="contato.html">CONTATO</a></li>
                <li><a href="orcamento.html">ORÇAMENTO</a></li>
            </ul>

            <!--<button class="button" type="button">CURSOS LIVRES</button>-->
        </nav>
    </div>


    <main class="container-originals">
        <h2 class="text-3d"><a href="../../wagou-original.html" target="_self"><span class="material-symbols-outlined">
            arrow_back_ios
        </span></a>Wagou Originals</h2>

        <div class="fist-container">
            <div class="left-content">
                <h3>Illustrations</h3>
                <p>Concept Art/Game Art/Illustration</p>
                <p id="text-2">Here are my best works as an illustrator. Most are personal work and Fan art.</p>
            </div>
            <div class="right-content">
                <h3>Softwares used:</h3>
                <img src="./illustrations-img/photoshop.png" alt="logo do photoshop">
            </div>
        </div>

        <div class="second-container">
            <div class="left-content-2">
                <h3>Darkin Fan Art</h3>
                <p>Game Art</p>
            </div>
            <div class="right-content-2">
                <img src="https://static.wixstatic.com/media/01d23c_56a4a6fe89b24dff85bb960cc99f8896~mv2.png/v1/fill/w_741,h_417,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/darkin%2010.png" alt="teste">
            </div>
        </div>

        <div class="tirth-container">
            <div class="left-content-2">
                <h3>Darkin Fan Art</h3>
                <p>Process paint</p>
            </div>
            <div class="right-content-2">
                <img src="https://static.wixstatic.com/media/01d23c_ea6d2955976642dca0dcb3bd943af2fd~mv2.gif" alt="teste">
            </div>
        </div>

        <div class="fourth-container">
            <div class="left-content-4">
                <img src="https://static.wixstatic.com/media/01d23c_c92318a64a2d46bc98380ffba94b03fe~mv2.png/v1/fill/w_417,h_417,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Arte%20do%20wilson.png" alt="">
            </div>
            <div class="right-content-4">
                <h3>Personal Work</h3>
                <p>Concept Art</p>
            </div>
        </div>

        <div class="fourth-container">
            <div class="left-content-4">
                <img src="https://static.wixstatic.com/media/01d23c_18ec8651adc941f3ac941e52e17aee2a~mv2.png/v1/fill/w_600,h_337,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/projeto%203.png" alt="">
            </div>
            <div class="right-content-4">
                <h3>Personal Work</h3>
                <p>Concept Art</p>
            </div>
        </div>

        <div class="fourth-container">
            <div class="left-content-4">
                <img src="https://static.wixstatic.com/media/01d23c_0000afc850a446779fc05f9a54447a52~mv2.png/v1/fill/w_600,h_424,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/projeto%204.png" alt="">
            </div>
        </div>

        <div class="second-container">
            <div class="left-content-2">
                <h3>Portrait Painting</h3>
                <p>Illustration</p>
            </div>
            <div class="right-content-2">
                <img src="https://static.wixstatic.com/media/01d23c_0ce071dcdf274cb4aed26cbd58b369ab~mv2.png/v1/fill/w_415,h_518,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/CLEBER%20FINAL.png" alt="teste">
            </div>
        </div>

        <div class="fourth-container">
            <div class="left-content-4">
                <img src="https://static.wixstatic.com/media/01d23c_5efbeb48affe42198a424e950ee10f71~mv2.png/v1/fill/w_742,h_417,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Jubz%20Urezin%20Drakke.png" alt="">
            </div>
            <div class="right-content-4">
                <h3>Subs Fan Art</h3>
                <p>Illustration</p>
            </div>
        </div>

        
    </main>

    <footer class="container">
        <div class="informations-content">
            <p class="name-company">Wagou Studios</p>
            <p class="email-company">equipewagou@gmail.com</p>
            <p class="copyright-company">©2022 por Wagou Studio.</p>
        </div>
    </footer>
</body>

</html>