<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background</title>
    <link rel="stylesheet" href="background.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');
    </style>
</head>

<body>
    <!--Barra de navegação-->
    <div class="hero">
        <nav>
            <div class="logo-space">
                <a href="index.html"><img src="../../img/LOGO-invert.png" alt="logo da página"></a>
                <a class="logo-name" href="index.html">
                    <h2 class="logo">Wagou</h2>
                    <h2 id="logo2"> Studio</h2>
                </a>
            </div>
            <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="reel.html">REEL</a></li>
                <li><a href="trabalhos.html">TRABALHOS</a></li>
                <li><a href="wagouoriginal.html">WAGOU ORIGINALS</a></li>
                <li><a href="sobre.html">SOBRE</a></li>
                <li><a href="contato.html">CONTATO</a></li>
                <li><a href="orcamento.html">ORÇAMENTO</a></li>
            </ul>

            <!--<button class="button" type="button">CURSOS LIVRES</button>-->
        </nav>
        
    </div>


    <main class="container-originals">
        <h2 class="text-3d"><a href="../../wagou-original.html" target="_self"><span class="material-symbols-outlined">
            arrow_back_ios
        </span></a>Wagou Originals</h2>

        <div class="fist-container">
            <div class="left-content">
                <h3>Background</h3>
                <p>Concept & Painting</p>
                <p id="text-2">As a professional in the creative field. My biggest passion is Backgrounds. I love working on the concept and painting of Backgrounds.</p>
            </div>
            <div class="right-content">
                <h3>Softwares used:</h3>
                <img src="./background-img/photoshop.png" alt="logo do photoshop">
            </div>
        </div>
        
        <div class="second-container">
            <div class="left-content-2">
                <h3>Lofi Boy Animation</h3>
                <p>Background Concept & Painting</p>
            </div>
            <div class="right-content-2">
                <img src="https://static.wixstatic.com/media/01d23c_d4cfba97cc384f8188239befec094d75~mv2.png/v1/fill/w_741,h_417,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/BG%20FINAL%20(Refer%C3%AAncia).png" alt="teste">
            </div>
        </div>

        <div class="tirth-container">
            <div class="left-content-3">
                <h3>Lofi Boy Animation</h3>
                <p>Background Concept & Painting</p>
            </div>
            <div class="right-content-3">
                <img src="https://static.wixstatic.com/media/01d23c_b297b25872b44fb09b89752ac6060c2a~mv2.png/v1/fill/w_600,h_338,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Cen%C3%A1rios%20wilson.png" alt="teste">
            </div>
        </div>

        <div class="fourth-container">
            <div class="left-content-4">
                <img src="https://static.wixstatic.com/media/01d23c_7cb44da0119f488aa0786ecc0730e003~mv2.png/v1/fill/w_741,h_417,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/cenario%20lofi%20girl1.png" alt="">
            </div>
            <div class="right-content-4">
                <h3>Lofi Girl Animation</h3>
                <p>Background Painting</p>
            </div>
        </div>
        
    </main>

    <footer class="container">
        <div class="informations-content">
            <p class="name-company">Wagou Studios</p>
            <p class="email-company">equipewagou@gmail.com</p>
            <p class="copyright-company">©2022 por Wagou Studio.</p>
        </div>
    </footer>
</body>

</html>